In [1]:
#1.PATTERN

x= int(input("#rows:"))
for r in range(0,x):
    for c in range(0,r+1):
        print('* ',end="")
    print('\r')

#rows:5
*
* *
* * *
* * * *
* * * * *

In [2]:

#2.MULTIPLICATION OF K NUMBER

num= int(input("Enter K #no for multiplication:"))
x=int(input("enter #no multiplications:"))
for i in range(1,x):
    print(num,'*',i,'=', num*i)

Enter K #no for multiplication:7
enter #no multiplications:11
7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63
7 * 10 = 70

In [0]:
import math
a = float(input("enter a value:"))
b = float(input("enter b value:"))
c = float(input("enter c value:"))

d = b**2 - 4*a*c

if d>0:
    root1 = (((-b)-math.sqrt(d))//(2*a))
    root2 = (((-b)+math.sqrt(d))//(2*a))
    print("roots are: ",root1,root2)
elif d==0:
    rootX=((-b)//2*a)
    print("roots are:",rootX)
else:
    print("No roots ")

In [6]:

#4.DECIMAL TO BINARY 
n = int(input("Decimal #no"))
c=[]
while n>0:
    d=n%2
    c.append(d)
    n=n//2
print(c,end=" ")

Decimal #no5
[1, 0, 1]

In [7]:
#5.FIBONACCI SERIES

n = int(input("#n"))
x=0
b=1
c=1
s=0
print('Series: ',end=' ')
while(c<=n):
    print(s,end=' ')
    c+=1
    a=b
    b=s
    s=a+b

#n7
Series:  0 1 1 2 3 5 8